/* .image__container {
    position: relative;
    background-color: #212C31;
    background-image: url('http://94.103.85.179:5000/images/revendawn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
} */

.imagelist__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.9); /* Черный цвет с прозрачностью 0.5 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagelist__overlay__text{
    color: white;
    font-size: 24px;
    cursor: default;
    margin-top: 10px;
    padding-bottom: 10px;

}

.imagelist__gameimage img {
    width: 110px; /* Ширина изображения */
    height: 115px; /* Высота изображения */
    display: block; /* Делаем изображение блочным элементом */
    margin: 0 auto; /* Автоматическое выравнивание по центру по горизонтали */
    object-fit: cover;
    border-radius: 15px;
}

.imagelist__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
    height: auto;
}

.imagelist__games{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 100%;
    /* margin-top: 10px; */
}

.imagelist__games{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 100%;
    /* margin-top: 15px; */
    transition: font-size 0.3s, color 0.3s;
}

.imagelist__games > *:hover{
    color: #4682B4;
}

.imagelist__games > * {
    margin-right: 25px;
}

.imagelist__games > *:last-child {
    margin-right: 0;
}

.imagelist_games_container{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.imagelist__gameName{
    cursor: default;
    margin-top:5px;
}

.news_list_container {
    background-color: #303036; /* Цвет заднего фона */
}
